.my_nav_bar {
	position: sticky;
	z-index: 99999;
	top: 0px;
}

.movie_head {
	font-size: 20px;
	padding: 6px 22px;
	border-radius: 10px;
	margin-bottom: 15px;
	width: 100%;
	display: inline-block;
}

.movie_head i {
	float: right;
}

.movie_text span {
	color: #ff7700;
}
